$background: rgba(255, 255, 255, .7);
$navigation-width: 320px;
$header-height: 56px;

html,
body,
#site-wrap,
.site-section {
	height: 100%;
}

.site-section {
	height: 100%;
	padding: 0;
	position: relative;
}

#navigation {
	$width: $navigation-width;

	position: fixed;
	max-width: $width;
	top: 0;
	left: 0;

	background-color: transparent;
	font-size: 1.5em;

	z-index: 2;

	.nav-mini,
	header,
	nav {
		z-index: 6;
		font-size: .8em;
	}

	.nav-mini {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 5;
		font-size: 2em;

		button {
			border: none;
			background: none;

			color: lighten(#333, 20%);
		}
		button:hover {
			color: lighten(#333, 10%);
		}

	}

	@media screen and (max-width: 768px) {
		width: 100%;
		max-width: none;
		height: $header-height;
		background-color: #333;
	}

	header {
		width: 100%;
		padding: 0 15px;
		position: absolute;

		background-color: $background;

		@media screen and (max-width: 768px) {
			margin-left: 54px;
		}

		h3 {
			margin: 0;
			line-height: $header-height;
		}

	}
	nav {
		height: 100%;
		padding-top: $header-height;
		overflow: auto;

		@media screen and (max-width: 768px) {
			display: none;
			padding-left: 54px;
		}
	}
}

#navigation.show {
	height: 100%;
	nav {
		display: block !important;
	}

}

.main-content {
	padding-top: 56px;
	background-color: $background;
	height: 100%;
	position: absolute;
	overflow: auto;

	@media screen and (max-width: 768px) {
		//	background-color: darken($background, 30%);
	}

	.github-fork {
		position: fixed;
		top: 0;
		right: 0;

		z-index: 6;
	}

	.content-wrap {
		padding: 0;
		* {
			padding: 0 15px;
		}
	}
}

#content {
	padding: none;
}

a {
	cursor: pointer;
}

.list-group {
	margin-bottom: 0;
}

.nav-pills > li > a {
	border-radius: 0;
}

.list-group-item:first-child {
	border-radius: 0;
}

.container-fluid {
	padding: 0;
	height: 100%;
}

.center-inner {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	* {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.duck {
	z-index: -1;

	img {
		max-width: 100%;
	}
}
