$background: rgba(255, 255, 255, .7);

html,
body,
#site-wrap,
.site-section {
  height: 100%;
}
.site-section {
  height: 100%;
  padding: 0;
  position: relative;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  header {
	width: 100%;
	padding: 0 15px;
	position: absolute;

	background-color: $background;
	z-index: 2;
  }
  nav {
	height: 100%;
	padding-top: 56px;
	overflow: auto;
  }
}

.main-content {
  padding: 0 15px;
  background-color: $background;

  .github-fork {
	position: fixed;
	top: 0;
	right: 0;
  }
}


a {
  cursor: pointer;
}

.list-group {
  margin-bottom: 0;
}

.nav-pills > li > a {
  border-radius: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

.container-fluid {
  padding: 0;
  height: 100%;
}

.center-inner {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  * {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }
}
.duck {
  z-index: -1;
}
